<h1>Genres</h1>
<ul>
<% @genres.each do |genre| %>
    <li><%= link_to genre.name, genre %> <%= link_to 'Edit', edit_genre_path(genre) %> <%= link_to 'Delete', genre, method: :delete %></li>
<% end %>
</ul>